@import "maps.less";
.menu {
    display: flex;
    
    li {
        font-weight: bold;
        margin-left: 24px;
        
        a {
            color: #colors[colorText];
            text-decoration: none;
        }
    }
}
